<div class="success-dialog">
    <h2 mat-dialog-title i18n>{{data.header}}</h2>
    <div mat-dialog-content i18n>{{data.text}}</div>
    <button class="myo-btn btn-primary" [mat-dialog-close] i18n>Ок</button>
</div>
