 .success-dialog{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	align-items: center;
}

.mat-dialog-title {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.35;
	letter-spacing: 1.4px;
	text-align: left;
	color: #ffffff;
}

.mat-dialog-content {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.64;
	letter-spacing: 0.4px;
	text-align: left;
	color: #ffffff;
}

.myo-btn.btn-primary { 
	width: 154px;
	border: 2px solid #fff;
	background: unset;
	margin: 40px 0 20px 0;
}