<div class="wrap wrap-login">

    <div class="myo-logo"></div>

    <div class="box-container">
        <div class="box">
            <div id="register" class="register">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <p i18n>{{email}}</p>
                    <div class="text-box" [ngClass]="{'has-error': registerForm.controls.password.touched && registerForm.controls.password.invalid}">
                        <input class="form-control" type="password" placeholder="Type password" formControlName="password" i18n-placeholder>
                        <img src="/assets/img/icon_hide_black.png" class="icon">
                    </div>
                    <div class="text-box" [ngClass]="{'has-error': registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.invalid}">
                        <input class="form-control" type="password" placeholder="Confirm password" formControlName="confirmPassword" i18n-placeholder>
                        <img src="/assets/img/icon_show_black.png" class="icon">
                    </div>
                    <div class="form-group">
                        <button class="form-control" type="submit" i18n>Register</button>
                    </div>
                </form>
                <div class="text-center">
                    <a class="myo-link" routerLink="/login" i18n>Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
