<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Relative invite</title>
	<style type="text/css">
        body {margin: 0; padding: 0; min-width: 1080px!important; font-family: "Sans"}
        .content {width: 1080px; max-width: 1080px; margin: 0 auto; padding: 2em;}
        </style>
</head>
<body bgcolor="#fff">

<table style="max-width: 1080px;" align="center" border="0">
	<tr>
		<td style="padding: 1em"></td>
		<td colspan="2">

			<!-- HEADER -->
			<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="40%" align="left">
						<img width="259px" height="70px" src="https://image.ibb.co/mVFSVp/logo_agapl.png" alt="Agaplesion" />  	
						<!-- cid:{{client-logo}} -->
					</td>
					<td align="center">
						<span style="font-size: 0.75em; color: #00d8db">In Kooperation mit:</span><br />
						<img alt="myo-logo" width="112px" height="75px" src="https://image.ibb.co/bPBZAp/logo_myo.png" /> 
						<!-- cid:{{myo-logo}} -->
					</td>
					<td width="45%" align="right">
						<img style=" width: 283px; height: 244px;" alt="myo-icon" src="https://image.ibb.co/i98Li9/icon_myo.png" /> 
						<!-- cid:{{top-right-image}} -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<!-- MARGIN LEFT -->
		<td/>

		<td>
			<font style="font-size: 24px; color: #0c0707; font-weight: bold; font-family: arial">Herzlich Willkommen bei myo!</font>
			<br/><br/>
			<font style="font-size: 24px; color: #0c0707; font-weight: bold; font-family: arial">Benutzername Ihres Pflegeheims: {{server name}}</font>
			<br/><br />
			<font style="font-size: 20px; color: #0c0707; font-family: arial">myo ermöglicht es Ihnen und Ihrer Familie dauerhaft am Leben des Bewohners teilzuhaben. Mit Hilfe der myo App können Pfleger schöne Momente und relevante Informationen auf direktem und sicherem Weg mit Ihnen teilen. 
			</font>
			<br/><br/>
			<font style="font-size: 20px; color: #0c0707; font-family: arial"> 
			Die Anmeldung ist kinderleicht und in wenigen Schritten zu erledigen.
			</font>
		</td>

		<!-- MARGIN RIGHT -->
		<td style="padding: 4em; "/>
	</tr>
	<tr>
		<!-- MARGIN LEFT -->
		<td/>

		<!-- POINT ONE -->
		<td width="" style="padding-top: 70px">
			<font style="font-size: 22px; font-weight: bold; color: #070606;  font-family: arial;">Anleitung:</font>
			<br/><br/>

			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- POINT ONE -->
					<td valign="top" align="center" style="padding-left: 1em; padding-right: 1em" width="45px" height="45px">
						<table style="height: 45px; width: 45px" border="0" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="width: 45px; height: 45px; background-color: #32d5e8; border: solid 1px #00d7da; border-radius: 50%; text-align: center; vertical-align: middle;">
									<font style="color: white; font-weight: bold; text-align: center; font-family: arial">1</font>
								</td>
							</tr>
						</table>
					</td>

					<!-- CONTENT -->
					<td>
						<font style="color: #00d7da; font-weight: normal; font-size: 22px; font-family: arial">
							App herunterladen
						</font>
						<p style="font-color: #0c0707; font-size: 18px; line-height: 1.25; margin-top: 0; padding-top: 0; font-family: arial">
							App herunterladen Laden Sie die myo App im App Store herunter. Sie finden die App unter &quot;myosotis&quot; und erkennen sie an unserem Logo. Falls Sie diese E-Mail mit Ihrem Smartphone öffnen, können Sie die App direkt hier laden:
						</p>

						<!-- RIGHT MARGIN -->

					<td style="padding: 2em; "/>
				</tr>
			</table>
			<table align="center" style="margin-bottom: 40px;">
				<tr>
					<td align="center">
						<a href="#">
							<img alt="Android Playstore" style="margin: 1em 1em; display: inline; height:39px; width:130px; cursor: pointer;" src="https://image.ibb.co/fBkLY9/google_play_icon.png"/>
							<!-- cid:{{android-playstore-image}} -->
						</a>
						<a href="#">
							<img alt="Apple Appstore" style="margin: 1em 1em; display: inline; height:39px; width:115px; cursor: pointer;" src="https://image.ibb.co/bL5et9/download_app_store.png"/> 
							<!-- cid:{{apple-appstore-image}} -->
						</a>
					</td>
				</tr>
			</table>

			<!-- POINT TWO -->
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" align="center" style="padding-left: 1em; padding-right: 1em" width="45px" height="45px">
						<table style="height: 45px; width: 45px" border="0" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="width: 45px; height: 45px; background-color: #32d5e8; border: solid 1px #00d7da; border-radius: 50%; text-align: center; vertical-align: middle;">
									<font style="color: white; font-weight: bold; text-align: center; font-family: arial">2</font>
								</td>
							</tr>
						</table>
					</td>

					<!-- CONTENT -->
					<td>
						<font style="color: #00d7da; font-weight: normal; font-size: 22px; font-family: arial">
							In die App einloggen
						</font>
						<br/>
						<br/>
						<font style="color: #00d7da; font-weight: normal; margin-left:1em; font-size: 20px; font-family: arial">
							Mit Ihrem Smartphone
						</font>
						<br/>
						<p style="margin-left:1em; font-color: #0c0707; font-size: 18px; line-height: 1.25; margin-top: 0; padding-top: 0; font-family: arial">
							Wenn Sie diese E-Mail mit Ihrem Smartphone öffnen, klicken Sie auf den folgenden Button:
						</p>

						<!-- RIGHT MARGIN -->

					<td style="padding: 2em; "/>
				</tr>
			</table>
			<table align="center" style="padding-left: 1em; margin-bottom: 30px;">
				<tr>
					<td align="center">
						<a href="{{register-link}}">
							<button style="margin: 50px auto 25px; cursor: pointer !important; width: 185px; height: 50.2px; color: white; text-transform: uppercase; font-weight: bold; border-radius: 6px; background-image: linear-gradient(122deg, #63d2e6, #06fccd); border: solid 1px #ffffff;"> 
								Registrien
							</button>
						</a>
					</td>
				</tr>
				<tr>
					<td align="center">
						<a href="{{order-link}}">
							<font style="font-size: 25px; font-weight: bold; line-height: 0.4; text-align: left; color: #00d7da; margin-top: 50px;" > 
								order 
							</font>
						</a>
					</td>
				</tr>
			</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<!-- BULLET SPACE -->
					<td valign="top" align="center" style="padding: 1em " width="45px" height="45px"/>

					<td>

						<br/>
						<font style="color: #00d7da; font-weight: normal; margin-left:1em; font-size: 20px; font-family: arial">
							Mit Ihrem Computer
						</font>
						<br/>
						<p style="margin-left:1em; font-color: #0c0707; font-size: 18px; line-height: 1.25; margin-top: 0; padding-top: 0; font-family: arial">
							Wenn Sie diese E-Mail mit Ihrem Computer lesen, öffnen Sie die App und scannen Sie den QR-Code mit Hilfe des Buttons „QR-Code Scannen“. Sie finden den Button unten auf dem Startbildschirm der App.
						</p>
					</td>

					<!-- RIGHT MARGIN -->

					<td style="padding: 2em; "/>
				</tr>
			</table>
			<table align="center" style="padding-left: 1em; margin-bottom: 40px;">
				<tr>
					<td align="center">
						<img width="180px" height="180px" src="https://image.ibb.co/dGgkY9/QR_code_icon.png" alt="QR code" />
						<!-- cid:{{qr-code-link}} -->
					</td>
				</tr>
			</table>
			<table style="margin-bottom: 100px;" width="100%" border="0" cellpadding="0" cellspacing="0">

				<!-- POINT THREE -->
				<tr>
					<td valign="top" align="center" style="padding: 1em">
						<table style="height: 45px; width: 45px" border="0" cellpadding="0" cellspacing="0" >
							<tr>
								<td style="width: 45px; height: 45px; background-color: #32d5e8; border: solid 1px #00d7da; border-radius: 50%; text-align: center; vertical-align: middle;">
									<font style="color: white; font-weight: bold; text-align: center; font-family: arial">3</font>
								</td>
							</tr>
						</table>
					</td>
					<td style="padding-top: 1em; padding-bottom: 1em">
						<font style="color: #00d7da; font-weight: normal; font-size: 22px; font-family: arial">
							Account erstellen
						</font>
						<br/>
						<p style="font-color: #0c0707; font-size: 18px; line-height: 1.25; margin-left: 0; margin-top: 0; padding-top: 0; font-family: arial">
							Erstellen Sie einen Account mit einem neuen Passwort. Merken Sie sich das Passwort für die Zukunft.
						</p>
					</td>
					<td style="padding: 2em; "/>
				</tr>

				<tr>
					<td valign="top" align="center" style="padding: 1em" width="45px" />
					<!--style="border: 1px solid #00b8f1"-->
					<td align="center" valign="middle" style="padding-top: 2em; padding-bottom: 2em; border: 2px solid #00d7da">
						<font style="text-align: center; font-weight: bold; font-size: 22px; color: #00d7da; font-family: arial">
							Willkommen bei myo. Nun kann es losgehen.
						</font>
						<br/>
						<font style="text-align: center; font-weight: normal; font-size: 22px; color: #00d7da; font-family: arial">
							Haben Sie Fragen oder Anregungen? Kontaktieren Sie uns.
						</font>
					</td>
					<td/>
				</tr>
			</table>
			<br/>
			<br/>
		</td>
	</tr>
	<!-- FOOTER -->

	<tr>
		<td colspan="3" align="right" style="width: 100%; height: 182px; background-image: url('https://preview.ibb.co/fOKXwU/footer_img.png'); /* cid:{{footer-image}} */ background-size: contain; background-repeat: no-repeat;">
			<table border="0" style="padding-right: 1em; margin-bottom: -2em">
				<tr>
					<td style="padding-right: 2em">
						<font style="text-align: center; font-weight: bold; color: #FFFFFF; font-family: arial; font-size: 20px; line-height: 0.5">
							Myo
						</font>
						<hr style="color: #FFFFFF; height:1px; background-color: #FFFFFF;border-width:0;"/>
					</td>
					<td width="1em"/>
				</tr>
				<tr>
					<td colspan="2">
						<font style="text-align: left; font-weight: bold; color: #FFFFFF; font-family: arial; font-size: 16px">
							Leonore Merck
						</font>
						<br/>
						<font style="text-align: left; font-weight: lighter; color: #FFFFFF; font-family: arial; font-size: 16px">
							<a href="tel:+49-163-169-279-1" style="text-decoration: none; text-decoration-color: #FFFFFF; color: #FFFFFF">+49-163-169-279-1</a>
							<br/>
							<a href="mailto:leonore@myo.de" style="text-decoration: none; text-decoration-color: #FFFFFF; color: #FFFFFF">leonore@myo.de</a>
						</font>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body>
</html>
