<div class="wrap wrap-login">

  <div class="myo-logo">
  </div>
  <app-restore-step1 *ngIf="!restoreToken"></app-restore-step1>
  <app-restore-step2 *ngIf="restoreToken" [restoreToken]="restoreToken"></app-restore-step2>
  
  
</div>