<div class="posts-table">
    <div class="grid-row">
        <div class="grid-col-4">
            <span [ngClass]="{'approved': editablePost.status == 'ACCEPTED', 'declined': editablePost.status == 'DECLINED', 'pending': editablePost.status == 'PENDING'}">&#x25CF; </span>
            <select class="form-control category-select" [(ngModel)]="editablePost.category" [disabled]="true">
                <option value="{{category.id}}" *ngFor="let category of categories" i18n>{{category.name}}</option>
            </select>
        </div>
        <div class="grid-col-4">{{editablePost.posted_on * 1000 | date: 'dd.MM.yyyy | HH:mm' }}</div>
        <div class="grid-col-4" i18n>{{editablePost.posted_by.first_name + ' ' + editablePost.posted_by.last_name}}</div>
        <div class="grid-col-4 clickable">
            <button class="recipient_btn" *ngFor="let recipient of editablePost.recipients" (click)="removeReceipient(recipient)" [disabled]="true">
                <span class="post-recepient" i18n>
                    {{recipient.last_name + ' ' + recipient.first_name}}
                    <span class="recepient-icon">x</span>
                </span>

            </button>
            <button class="post-recepient-add" (click)="addRecepients()" [disabled]="true" i18n>add
                <span class="recepient-icon">+</span>
            </button>
        </div>
    </div>
</div>

<div class="details grid-row">
    <div class="grid-col-2">
        <img *ngIf="shownMedia.mediaType ==='image'" class="img-range" [src]="shownMedia.value">
        <iframe *ngIf="shownMedia.mediaType ==='video'" width="420" height="315" [src]="shownMedia.value | safe">
        </iframe>
        <div class="nav">
            <button class="prev" (click)="showImage(-1)" [disabled]="content.length === 0"> &#8249; </button>
            <div class="img-count"> {{shownMedia.index}}/{{content.length}} </div>
            <button class="next" (click)="showImage(+1)" [disabled]="content.length === 0"> &#8250; </button>
        </div>
    </div>
    <div class="grid-col-2">
        <div class="grid-box">
            <textarea class="details-description" [(ngModel)]="editablePost.content.description" [disabled]="true">
            </textarea>
        </div>
    </div>
    <div class="controll-buttons">
        <button class="myo-btn btn-primary" (click)="acceptStoryEdit($event);" i18n>Approve</button>
        <button class="myo-btn btn-danger" (click)="declineStoryEdit($event);" i18n>Decline</button>
    </div>
</div>
