.details{
  width: 100%;
  display: flex;
    margin-top: -2px;
    flex-wrap: wrap;
    border-top: 3px solid #fff;
}
.details-description{
  float: right;
  width: 100%;
  max-width: 440px;
  height: 100%;
  max-height: 365px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  resize: none;
}
.grid-box {
  padding-left: 30px;
  height: 100%;
}

.controll-buttons{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.controll-buttons button{
  margin: 0 10px;
}
.post-recepient{
  font-size: 12px;
  border-radius: 3px;
  background-color: #f7f7f7;
  padding:  2px 4px;
  display: inline-block;
  margin: 0 8px 2px 0;
}
.post-recepient .recepient-icon, .post-recepient-add .recepient-icon{
  font-size: 9px;
  vertical-align: top;
}
.post-recepient-add{
  font-size: 12px;
  border: none;
  background-image: linear-gradient(92deg, #63d2e6, #06fccd);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.approved {
  color: #06FCCD;
}

.declined {
  color: #FF6969;
}

.pending {
  color: #ffe869;
}

select.form-control {
  display: inline-block;
}

.nav {
  font-size: 20px;
  margin-top: 5px;
  height: 30px;
  width: 100%;
  max-width: 440px;
  display: flex;
}

.img-count {
  margin: 12px auto 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.92;
  letter-spacing: 0.4px;
}

.prev, .next {
  display: inline-block;
  height: 41px;
  font-size: 31px;
  border: none;
  background: unset;
  outline: none;
}

.prev:hover, .next:hover {
  cursor: pointer;
}

.recipient_btn {
  border: none;
  background: unset;
}
.recipient_btn:hover {
  cursor: pointer;
}

.form-control {
  width: 154px;
}

.img-range {
  width: 100%;
  max-width: 440px;
}
