
h2 {
	width: 80%;
	padding-bottom: 35px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.35;
	letter-spacing: 1.4px;
	color: #000000;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.64;
  letter-spacing: 0.4px;
}

.btn_img {
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/img/icon_edit.svg');
  border: none;
  border-radius: 0;
  background-color: unset;
  margin: 8px 10px;
}

.btn_img:hover {
  cursor: pointer;
}

.btn_sect button{
	font-weight: bold;
 	color: #fff;
 	text-transform: uppercase;
}

.wrap {
	width: 100%;
}
.container {
	width: 80%;
	margin-top: 20px;
}

.employee-basic {
	width: 80%;
}

.section-box .basic {
  margin-bottom: 20px;
}

p.emp-name {
	padding-top: 13px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.88;
	letter-spacing: 0.5px;
	text-align: left;
	color: #000000;
}
.mrn {
  margin-top: 0 !important;
  margin-left: 40px;
  margin-right: -22px;
}

.img-rounded {
	width: 76px;
  height: 76px;
  object-fit: contain;
	border-radius: 50%;
}

.employee-info-boxes {
	height: 100%;
	max-height: 500px;
	display: flex;
	justify-content: space-between;
  margin-bottom: 15px;
}
.basic-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.basic-info .basic:last-child {
  border-bottom: none;
}

.basic {
  width: 100%;
  min-width: 410px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.92;
  letter-spacing: 0.4px;
  border-bottom: solid 1px #e2e4e6;
}
.basic p {
  margin: 0;
}

.employee_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 0.5px;
  text-align: left;
}

.getI {
  display: flex;
  justify-content: space-between;
	font-size: 12px;
  font-weight: normal;
  line-height: 1.64;
}

.btn_sect {
	padding-top: 35px;
	width: 100%;
	height: 100px;
	border-top: solid 1px #707070;
}

.controlls {
  margin-top: -15px;
}
.controlls-mrn {
  margin-top: 0;
  margin-left: 54px;
}
.btn_ok {
  height: 30px;
  font-size: 24px;
  border: none;
  background-color: unset;
	font-weight: bold;
}
.btn_ok:hover {
  cursor: pointer;
}

.form-control{
	width: 387px;
	height: 36px;
	object-fit: contain;
	border-radius: 8px;
 	background-color: #ffffff;
 	margin-bottom: 20px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}
.form-control.ff {
	box-shadow: unset;
}

.invited-box {
  margin-left: 60px;
  float: right;
}

.invited-box span{
	padding-top: 0;
	font-weight: normal;
}

.text_form {
  width: 55.5px;
  height: 18.5px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 4px;
  letter-spacing: 0.7px;
  display: inline-block;
  text-align: center;
}
.text_form:hover {
  cursor: default;
}
.text_form.inv {
  margin-top: 4px;
  color: #ff6969;
  border: solid 1px #ff6969;
}
.text_form.linked {
  border: solid 1px #63d2e6;
  color: #63d2e6;
}

.invited {
  width: 24px;
  height: 24px;
  margin-bottom: 1px;
  margin-right: 8px;
  margin-left: -55px;
  border: none;
  background-image: none;
  background-color: unset;
  background-repeat: no-repeat;
  vertical-align: bottom;
  outline: none;
}
.invited:hover {
  cursor: pointer;
}

.btn-primary {
  margin: 10px 5px;
}

.myo-btn {
  float: right;
}

.btn-danger {
  margin: 10px 5px;
  float: left;
}

.display-data{
  display: flex;
}
.display-data.data-wh {
  margin: 15px 0 5px 0;
  width: 380px;
}
.display-data .value {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.display-data .value > * {
  min-width: 0;
}

.display-data input {
  border-radius: 20px;
  background-color: #fff;
  border: solid 1px #d5d7db;
  padding-left: 8px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.92;
  letter-spacing: 0.4px;
  }

.sections-array {
  font-size: 12px;
  border-radius: 3px;
  background-color: #f7f7f7;
  padding:  2px 4px;
  display: inline-block;
  margin: 0 8px 2px 0;
}

.sections-array .sections-delete {
  font-size: 9px;
  vertical-align: top;
}

tag-input {
  height: 55px;
  max-width: 387px;
  border: 1px solid #ddd ;
  border-radius: 8px;
  padding: 5px 10px;
}

.minimal.ng2-tag-input .ng2-tags-container {
  margin-top: -7px !important;
}

.spinner {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	}

	.has-error{
		border: 1px solid red !important;
	}
