<div class="wrap">
	<div class="container" *ngIf="employee">
		<h2 i18n>Employee Profile</h2>

		<form [formGroup]="editedEmployee" (submit)="saveEmployeeDetails()" *ngIf="employee">
			<div class="employee-basic">
				<img class="img-rounded" src="{{employee.image ? employee.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
				<div class="display-data data-wh" *ngIf="editBlock !== 'name'">
					<div class="value">
						<div class="employee_name" i18n> {{editedEmployee.value.first_name}} {{editedEmployee.value.last_name}}
						<div class="invited-box" *ngIf="employee.invite_status === 'NA' && employee.invite_status !== 'INVITED'" >
                            <button (click)="reinviteEmployee(employee.email)" class="invited"> </button>
                            <span class="text_form inv"> NA </span>
                        </div>
                        <!-- <span *ngIf="employee.invite_status === 'INVITED'" class="text_form inv">  </span> -->

                        <span *ngIf="employee.invite_status === 'LINKED'" class="text_form linked"> Linked </span>
						</div>
					</div>
					<div class="controlls mrn">
						<button class="btn_img" (click)="editField('name')"></button>
					</div>
				</div>
				<div class="display-data data-wh" *ngIf="editBlock === 'name'">
					<div class="value">
						<input type="text" formControlName="first_name" [ngClass]="{'has-error': editedEmployee.controls.first_name.invalid}">
						<input type="text" formControlName="last_name"  [ngClass]="{'has-error': editedEmployee.controls.last_name.invalid}">
					</div>
					<div class="controlls controlls-mrn">
						<button class="btn_ok" (click)="confirmEdit()">✓</button>
					</div>
				</div>
			</div>

			<div class="employee-info-boxes">
				<div class="basic-info">
					<div class="basic">
						<p>Email</p>
						<div class="display-data">
							<div class="value">
								<div class="getI"> {{employee.email}}
								</div>
							</div>
						</div>
					</div>

					<div class="basic">
						<p i18n>Phone number</p>
						<div class="display-data" *ngIf="editBlock !== 'phone_number'">
							<div class="value">
								<div class="getI"> {{editedEmployee.value.phone_number}}
								</div>
							</div>
							<div class="controlls">
								<button class="btn_img" (click)="editField('phone_number')"></button>
							</div>
						</div>
						<div class="display-data" *ngIf="editBlock === 'phone_number'">
							<div class="value">
								<input type="text" formControlName="phone_number">
							</div>
							<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
							</div>
						</div>
					</div>

					<div class="basic">
						<p i18n>Place and date of birth</p>
						<div class="display-data" *ngIf="editBlock !== 'birth'">
							<div class="value">
								<div class="getI"> {{editedEmployee.value.country_of_birth + " " + editedEmployee.value.place_of_birth}}, {{editedEmployee.value.date_of_birth}}
								</div>
							</div>
							<div class="controlls">
								<button class="btn_img" (click)="editField('birth')"></button>
							</div>
						</div>
						<div class="display-data" *ngIf="editBlock === 'birth'">
							<div class="value">
								<input type="text" formControlName="country_of_birth">
								<input type="text" formControlName="place_of_birth">
								<mat-form-field>
							  	  <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
								  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								  <mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
							</div>
						</div>
					</div>
					<div class="basic">
						<p>Previous hobbies</p>
						<div class="display-data" *ngIf="editBlock !== 'previous_hobbies'">
							<div class="value">
								<div class="getI" i18n> {{editedEmployee.value.previous_hobbies}}
								</div>
							</div>
							<div class="controlls">
								<button class="btn_img" (click)="editField('previous_hobbies')"></button>
							</div>
						</div>
						<div class="display-data" *ngIf="editBlock === 'previous_hobbies'">
							<div class="value">
								<input type="text" formControlName="previous_hobbies">
							</div>
							<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
							</div>
						</div>
					</div>
					<div class="basic">
						<p>Time at facility</p>
						<div class="display-data" *ngIf="editBlock !== 'facility_start_year'">
							<div class="value">
								<div class="getI" *ngIf="editedEmployee.value.facility_start_year">Since {{editedEmployee.value.facility_start_year}}
								</div>
							</div>
							<div class="controlls">
								<button class="btn_img" (click)="editField('facility_start_year')"></button>
							</div>
						</div>
						<div class="display-data" *ngIf="editBlock === 'facility_start_year'">
							<div class="value">
								<input type="number" formControlName="facility_start_year">
							</div>
							<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
							</div>
						</div>
					</div>

					<div class="basic">
						<p>Hobbies</p>
						<div class="display-data" *ngIf="editBlock !== 'hobbies'">
							<div class="value">
								<div class="getI" i18n> {{editedEmployee.value.hobbies}}
								</div>
							</div>
							<div class="controlls">
								<button class="btn_img" (click)="editField('hobbies')"></button>
							</div>
						</div>
						<div class="display-data" *ngIf="editBlock === 'hobbies'">
							<div class="value">
								<input type="text" formControlName="hobbies">
							</div>
							<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
							</div>
						</div>
					</div>
				</div>

				<div class="section-box">
					<div class="basic">
						<p>Motivation</p>
						<div class="display-data" *ngIf="editBlock !== 'motivation'">
							<div class="value">
								<div class="getI" i18n> {{editedEmployee.value.motivation}}
								</div>
							</div>
							<div class="controlls">
								<button class="btn_img" (click)="editField('motivation')"></button>
							</div>
						</div>
						<div class="display-data" *ngIf="editBlock === 'motivation'">
							<div class="value">
								<input type="text" formControlName="motivation">
							</div>
							<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
							</div>
						</div>
					</div>

					<h3 class="choose-section" i18n>Story Approval Setting</h3>
					<select class="form-control" formControlName="approvalRequired" >
						<option *ngFor="let appr of approvalSettings" [ngValue]="appr.value" i18n>
							{{appr.description}}
						</option>
					</select>

					<h3 class="choose-section" i18n>Status / Authority</h3>
					<select formControlName="type" class="form-control" (change)="changeEmployeeRole(editedEmployee.value.type)">
						<option *ngFor="let role of employeeRoles" [ngValue]="role.key" i18n>
							{{userService.normalizeRole(role.value)}}
						</option>
					</select>

					<h3 class="choose-section">Facility</h3>
					<select class="form-control" (ngModelChange)="getSections($event)" [disabled]="facilitySelectDisabled"
						[ngModelOptions]="{standalone: true}" [(ngModel)]="selectedFacilityId">
						<option *ngFor="let facility of facilities" [ngValue]="facility.id" i18n>
							{{facility.name}}
						</option>
					</select>


					<h3 class="choose-section">Section</h3>
					<select class="form-control" [disabled]="sectionSelectDisabled"
						[ngModelOptions]="{standalone: true}" [(ngModel)]="selectedSectionId">
						<option *ngFor="let section of sections" [ngValue]="section.id" i18n>
							{{section.name}}
						</option>
					</select>
					<!-- <tag-input [ngModel]='choosenSections'
								(onAdd)='onAddingSection($event)' (onRemove)='onRemovingSection($event)'
								[identifyBy]="'id'" [displayBy]="'name'" [ngModelOptions]="{standalone: true}"
								[onlyFromAutocomplete]="true" placeholder="+ sections" theme='minimal'>
						<tag-input-dropdown [identifyBy]="'id'" [displayBy]="'name'" [showDropdownIfEmpty]="true" [autocompleteItems]="sections"></tag-input-dropdown>
					</tag-input> -->
				</div>
			</div>
			<div class="btn_sect">
				<button class="myo-btn btn-danger" type="button" (click)="deleteEmployee()" i18n>delete</button>
				<button class="myo-btn btn-primary" type="button" (click)="cancelEmployeeEdit()" i18n>cancel</button>
				<button class="myo-btn btn-primary" type="submit">save</button>
			</div>
		</form>
		<div class="spinner cdk-overlay-dark-backdrop" *ngIf="profileSaving">
			<mat-spinner></mat-spinner>
		</div>
	</div>
</div>
