<div class="container-section">
	<div class="e-section">
		<h3 class="choose-section" i18n>Please choose the section</h3>
	</div>

	<table class="table">
		<thead class="thead-w">
			<tr>
				<th scope="col" (click)="sortBy('name')" [ngClass]="{'sorted-col': sortKey === 'name' || sortKey === 'name-'}" class="pointer" i18n>Name of section</th>
				<th scope="col" (click)="sortBy('seniorsNum')" [ngClass]="{'sorted-col': sortKey === 'seniorsNum' || sortKey === 'seniorsNum-'}" class="pointer" i18n>Ammount of seniors</th>
				<th scope="col" (click)="sortBy('relatives')" [ngClass]="{'sorted-col': sortKey === 'relatives' || sortKey === 'relatives-'}" class="pointer" i18n>Number of relatives</th>
				<th scope="col" (click)="sortBy('caretakersNum')" [ngClass]="{'sorted-col': sortKey === 'caretakersNum' || sortKey === 'caretakersNum-'}" class="pointer" i18n>Number of caregivers</th>
				<th scope="col" (click)="sortBy('postsLastWeekNum')" [ngClass]="{'sorted-col': sortKey === 'postsLastWeekNum' || sortKey === 'postsLastWeekNum-'}" class="pointer" i18n>Posts this week</th>
				<th></th>
			</tr>
		</thead>

		<tbody class="tbody-w" *ngIf="sectionList && sectionList.length !== 0">
			<tr *ngFor="let section of sectionList">
				<td>
					<strong i18n>{{section.name}}</strong>
				</td>
				<td i18n>{{section.seniorsNum}} seniors</td>
				<td i18n>{{section.relatives}} relatives</td>
				<td i18n>{{section.caretakersNum}} caregivers</td>
				<td i18n>{{section.postsLastWeekNum}} posts</td>
				<td *ngIf="facility" routerLink="/facility/{{facility.id}}/section/{{section.id}}" class="arrow-right-link"></td>
			</tr>
		</tbody>
		<tbody class="tbody-w" *ngIf="sectionList && sectionList.length === 0">
			<tr>
				<td>
					<strong i18n>No section added yet.</strong> Add <br>
					your first  section now by <br>
					using the box below.
				</td>
				<td i18n>0 seniors</td>
				<td i18n>0 relatives</td>
				<td i18n>0 caregivers</td>
				<td> 0 </td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<div class="all-box">
		<div class="box">
			<form class="new-section" [formGroup]="newSectionForm" (ngSubmit)="addSection()">
				<h4 class="box-title" i18n>Add new section</h4>
				<div class="form-group" [ngClass]="{'has-error': newSectionForm.controls.title.touched && newSectionForm.controls.title.invalid}">
					<input class="form-control" type="text" formControlName="title" placeholder="Type title here..." i18n-placeholder>
				</div>
				<button class="form-control" type="submit" i18n>Create</button>
			</form>
		</div>

	</div>

</div>
