.choose-section {
  	font-size: 20px;
  	font-weight: 600;
  	padding-bottom: 30px;
  	line-height: 1.35;
  	letter-spacing: 1.4px;
  	text-align: left;
}

.all-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.box {
	width: 100%;
	max-width: 445px;
  	height: auto;
  	margin-top: 100px;
	padding: 2em;
 	border-radius: 8px;
  	background-color: #ffffff;
  	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

input[type="text"],input[type="password"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 20px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

input[type="submit"] {
 	background: linear-gradient(122deg, #63d2e6, #06fccd);
	width: 154.9px;
 	height: 36px;
 	margin: 33px auto 0;
 	text-transform: uppercase;
 	border: none;
 	color: white;
 	font-weight: bold;
 	letter-spacing: 1px;
}

input[type="submit"]:hover {
	cursor: pointer;
}

.thead-w {
  	font-size: 12px;
  	line-height: 1.92;
  	letter-spacing: 0.4px;
  	text-align: left;
  	color: #707070;
}
.table thead th {
	padding-top: 19px;
	padding-bottom: 19px;
	border-top: none;
}
.table thead th:last-child {
	padding-right: 0;
}

.table tbody td {
	padding-top: 18.6px;
	padding-bottom: 16.5px;
	padding-right: 35px;
}
.table tbody td:last-child {
	padding-right: 0;
}

.tbody-w {
  	font-size: 14px;
 	font-weight: normal;
 	line-height: 1.64;
 	letter-spacing: 0.4px;
  	text-align: left;
  	color: #000000;
}

tbody.tbody-w:last-child {
	border-bottom: solid 1px #dcdee1;
}

@media only screen and (max-width: 985px) {

	.all-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.box {
		width: 100%;
		max-width: 365px;
	  	height: auto;
	  	margin-top: 20px;
		padding: 2em;
	 	border-radius: 8px;
	  	background-color: #ffffff;
	  	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
	}
	.left-box {
		min-width: 195px;
		width: 100%;
		height: auto;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
		transition: 2s;
	}

}
