<form [formGroup]="newSenior">
    <mat-horizontal-stepper class="horizontal-step" linear="true">
        <mat-step [completed]="false" [stepControl]="newSenior.controls.first_name && newSenior.controls.last_name ">
            <h2 class="mat-dialog-title" i18n> Add new senior: Name </h2>
            <div class="mat-dialog-content" i18n>Please add the name of the senior you would like to add to the myo app.</div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.first_name.touched && newSenior.controls.first_name.invalid}">
                <label i18n>First name</label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Type name here" formControlName="first_name" required i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.last_name.touched && newSenior.controls.last_name.invalid}">
                <label i18n>Last Name</label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Type last name here" formControlName="last_name" required i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group">
                <button class="form-control" matStepperNext (click)="checkStep(['first_name', 'last_name'])" i18n>Continue</button>
            </div>
        </mat-step>
        <mat-step [completed]="false" [stepControl]="newSenior.controls.facility && newSenior.controls.section">
            <h2 mat-dialog-title i18n> Add new senior: Location </h2>
            <div mat-dialog-content i18n>Where does this senior live?</div>
            <div class="form-group">
                <label i18n>Facility</label>
                <!-- <input class="form-control form-border" type="text" formControlName="facility"> -->
                <select class="form-control form-border" formControlName="facility" (change)="getFacilitySections(newSenior.value.facility)">
                    <option *ngFor="let facility of facilityList" value="{{facility.id}}" i18n>{{facility.name}}</option>
                </select>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.section.touched && newSenior.controls.section.invalid}">
                <label i18n>Section</label>
                <select class="form-control form-border" formControlName="section">
                    <option *ngFor="let section of sectionList" value="{{section.id}}" i18n>{{section.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="form-control" matStepperNext (click)="checkStep(['facility', 'section'])" i18n>Continue</button>
            </div>
        </mat-step>
        <mat-step>
            <h2 mat-dialog-title i18n> Add new senior: Legal Guardian </h2>
            <div mat-dialog-content i18n>Please add details of the first relative of the selected senior. They will then be invited to the Myo app.</div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.guardianFirstName.touched && newSenior.controls.guardianFirstName.invalid}">
                <label i18n> First name </label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Type name here" formControlName="guardianFirstName" i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.guardianLastName.touched && newSenior.controls.guardianLastName.invalid}">
                <label i18n> Last Name </label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Type last name here" formControlName="guardianLastName" i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.guardianEmail.touched && newSenior.controls.guardianEmail.invalid}">
                <label i18n> Email </label>
                <div class="input-group">
                    <input class="form-control" type="email" placeholder="Type e-mail here" formControlName="guardianEmail" i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <!-- <div class="form-group" [ngClass]="{'has-error': newSenior.controls.guardianPhoneNumber.touched && newSenior.controls.guardianPhoneNumber.invalid}">
                <label> Phone num </label>
                <div class="input-group">
                <input class="form-control" type="text" placeholder="Type phone num" formControlName="guardianPhoneNumber">
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.guardianRelationship.touched && newSenior.controls.guardianRelationship.invalid}">
                <label>Relationship</label>
                <select *ngIf="relationshipList" class="form-control form-border" formControlName="guardianRelationship">
                    <option *ngFor="let relationship of relationshipList" value="{{relationship.id}}">{{relationship.name}}
                    </option>
                </select>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newSenior.controls.guardianPassword.touched && newSenior.controls.guardianPassword.invalid}">
                <label> Password </label>
                <div class="input-group">
                    <input class="form-control" type="password" placeholder="Type password" formControlName="guardianPassword">
                    <span class="span_ok">✓</span>
                </div>
            </div> -->
            
            <div class="form-group">
                <button class="form-control" (click)="finishStep(['guardianFirstName', 'guardianLastName', 'guardianEmail'])">Continue</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>