.horizontal-step {
	visibility: hidden;
}

.mat-dialog-content {
	margin-bottom: 25px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 1.4px;
  text-align: left;
}

input.form-control {
	border-radius: 20px;
}

.form-control.form-border {
	border-radius: 8px !important;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

.input-group>.form-control:not(:last-child) {
 	border-top-right-radius: 20px; 
 	border-bottom-right-radius: 20px; 
}

.input-group {
	display: flex;
}

.span_ok {
	font-size: 22px;
    margin: 4px 0 0 10px;
}