.left-box {
	max-width: 360px;
	width: 100%;
	min-height: 100vh;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    float: left;
}


.myo-logo {
	margin: 15px auto;
    width: 61px;
    height: 35px;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user-post {
	margin: -10px 0 30px;
}
.user-avatar img {
	width: 76px;
	height: 76px;
	margin: 50px auto 15px;
	border: 5px solid #f1f1f1;
	border-radius: 50%;
}

.basic-info {
	text-align: center;
}

ul.tabs {
	padding: 0;
}
.tabs li {
	height: 58px;
	padding: 18px 5px 0;
  	font-size: 14px;
  	line-height: 1.64;
  	letter-spacing: 0.4px;
  	text-align: left;
}
.tabs li:hover {
	background-color: #f7f7f7;
	cursor: pointer;
}
li.active {
	background-color: #f7f7f7;
}

.user-name  {
    font-size: 16px;
 	font-weight: 600;
 	line-height: 1.88;
 	letter-spacing: 0.5px;
}

.panel-icon {
	width: 17px;
  	height: 24px;
  	margin: auto 25px; 
}

.admin-panel p {
	margin: 30px 0 20px 26px;
	font-weight: bold;
}

.log-out-box {
 	width: 100%;
}

button.log-out {
	margin: 0 43%;
	margin-top: 15px;
	border: none;
	border-radius: 6px;
  	height: auto;
  	background-image: linear-gradient(287deg, #ff6ca4, #ff6969);
}
button.log-out:hover {
	cursor: pointer;
}

.hor-line {
	width: 90%;
}