<div class="left-box">

	<div class="myo-logo"></div>

	<div class="log-out-box">
		<button class="log-out" (click)="logout()" i18n> logout </button>
	</div>

	<div class="user-info" *ngIf="user">

		<div class="user-avatar">
			<img src="{{user.image ? user.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
		</div>

		<div class="basic-info">
			<p class="user-name" i18n>{{user.first_name + ' ' + user.last_name}}</p>
			<p class="user-post" i18n>{{userService.normalizeRole(user.user_role)}}</p>
		</div>
	</div>

		<hr class="hor-line">

	<div class="admin-panel">
		<p i18n>Admin panel</p>
		<div class="admin-actions">
			<ul class="tabs" style="list-style: none;">
				<li routerLinkActive="active" routerLink="{{rootLink}}" i18n>
					<img class="panel-icon" src="../../assets/img/panel-icon/icon2.svg"/>Facilities
      			</li>
	          	<li routerLinkActive="active" routerLink="/employees" i18n>
	            	<img class="panel-icon" src="../../assets/img/panel-icon/icon1.svg"/>Employees
	          	</li>
	          	<li routerLinkActive="active" routerLink="/administrators" i18n>
					<img class="panel-icon" src="../../assets/img/panel-icon/icon-admin.svg"/>Admins
	          	</li>
	          	<li routerLinkActive="active" routerLink="/posts" i18n>
	           	 	<img class="panel-icon" src="../../assets/img/panel-icon/icon5.svg"/>Posts
	          	</li>
					<hr class="hor-line">
				<li class="settings" i18n>
					<img class="panel-icon" src="../../assets/img/panel-icon/icon3.svg">Settings
	          </li>

			</ul>
		</div>
	</div>

</div>
