<div class="success-dialog">
  <h2 mat-dialog-title i18n>{{data.header}}</h2>
  <div mat-dialog-content i18n>{{data.text}}</div>
  <div class="buttons-box">
	  <button class="myo-btn" [mat-dialog-close]="false" i18n>cancel</button>
	  <button class="myo-btn" [mat-dialog-close]="true" i18n>Ок</button>
  </div>
</div>
