input[type="text"],input[type="password"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 20px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

button.form-control {
 	background: linear-gradient(122deg, #63d2e6, #06fccd);
	width: 154.9px;
 	height: 36px;
 	margin: 33px auto 0;
 	text-transform: uppercase;
 	border: none;
 	color: white;
 	font-weight: bold;
 	letter-spacing: 1px;
}

button.form-control:hover {
	cursor: pointer;
}


.log-in p {
	padding: 23px 0 0 6px;
	text-align: left;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.4px;
}

.errors {
	display: none;
}
.errors p {
 	font-size: 14px;
	line-height: 1.92;
 	letter-spacing: 0.4px;
 	padding-top: 19px;
 	text-align: center;
	color: #ff6969;
}
