<div class="wrap wrap-login">

    <div class="myo-logo">
    </div>

    <div class="box-container">
        <div class="box">
            <div id="login" class="log-in">
                <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                    <div class="form-group" [ngClass]="{'has-error': loginForm.controls.email.touched && loginForm.controls.email.invalid}">
                        <input class="form-control" type="text" formControlName="email" placeholder="Email" i18n-placeholder>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': loginForm.controls.password.touched && loginForm.controls.password.invalid}">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" i18n-placeholder>
                    </div>
                    <div class="form-group">
                        <button class="form-control" type="submit" [disabled]="loginForm.invalid" i18n>Login</button>
                    </div>
                </form>
                <div class="text-center">
                    <a class="myo-link" routerLink="/resetpassword" i18n>Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="wrongCredentials" class="text-danger text-center" i18n>Credentials incorrect.</div>

</div>
