<div class="right-box">
    <div class="container-section">

        <div class="e-section">
            <h3 class="choose-section" i18n>Employees</h3>
            <select class="form-control" [(ngModel)]="selectedFacilityId" (ngModelChange)="facilityChanged($event)">
                <option *ngFor="let facility of facilities" value="{{facility.id}}" i18n> {{facility.name}} </option>
            </select>
        </div>

        <table class="table">
            <thead class="thead-w">
                <tr>
                    <th scope="col" (click)="sortBy('first_name,last_name')" [ngClass]="{'sorted-col': sortKey === 'first_name,last_name' || sortKey === 'first_name,last_name-'}" class="pointer" i18n>Name of employee</th>
                    <th scope="col" (click)="sortBy('status')" [ngClass]="{'sorted-col': sortKey === 'status' || sortKey === 'status-'}" class="pointer status" i18n>Status</th>
                    <th scope="col" (click)="sortBy('user_role')" [ngClass]="{'sorted-col': sortKey === 'user_role' || sortKey === 'user_role-'}" class="pointer" i18n>Role</th>
                    <th scope="col" (click)="sortBy('section_name')" [ngClass]="{'sorted-col': sortKey === 'section_name' || sortKey === 'section_name-'}" class="pointer" i18n>Sections</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody class="tbody-w">
                <tr *ngFor="let employee of employees; let i = index">
                    <td>
                        <img class="img-rounded" src="{{employee.image ? employee.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
                        <strong i18n>{{employee.first_name}} {{employee.last_name}}</strong>
                    </td>
                    <td class="status">
                        <div class="invited-box" *ngIf="employee.invite_status === 'NA' || employee.invite_status === 'INVITED'" >
                            <button (click)="reinviteEmployee(employee.email)" class="invited"> </button>
                            <span class="text_form inv" i18n> {{employee.invite_status}} </span>
                        </div>

                        <div class="linked-box">
                            <span *ngIf="employee.invite_status === 'LINKED'" class="text_form linked" i18n> Linked </span>
                        </div>
                    </td>
                    <td class='employee_role' i18n>{{getRoleByKey(employee.user_role)}}</td>
                    <td i18n>{{employee.section_name}}</td>
                    <td  *ngIf="employee.invite_status === 'LINKED'" routerLink="/employees/{{employee.id}}/{{employee.user_role}}" class="arrow-right-link"></td>
                    <td  *ngIf="employee.invite_status !== 'LINKED'" class="arrow-right-link disabled"></td>
                </tr>
            </tbody>
        </table>

        <div class="all-box">
            <div class="box">
                <h4 class="box-title" i18n>Add new staff</h4>
                <p i18n>No matter the authority, facility or section - you can add anyone working in your organization with just a few clicks</p>
                <button class="form-control" (click)="addNewEmployee()" i18n>Add</button>
            </div>
        </div>
    </div>
</div>
