.choose-section {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 30px;
	line-height: 1.35;
	letter-spacing: 1.4px;
	margin-right: 20px;
}

.all-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.box {
	width: 100%;
	max-width: 445px;
	height: auto;
	margin-top: 100px;
	padding: 2em;
 	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

input[type="text"],input[type="password"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 20px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

input[type="submit"] {
 	background: linear-gradient(122deg, #63d2e6, #06fccd);
	width: 154.9px;
 	height: 36px;
 	margin: 33px auto 0;
 	text-transform: uppercase;
 	border: none;
 	color: white;
 	font-weight: bold;
 	letter-spacing: 1px;
}

.thead-w {
	font-size: 12px;
	line-height: 1.92;
	letter-spacing: 0.4px;
	text-align: left;
	color: #707070;
}
.table thead th {
	padding-top: 19px;
	padding-bottom: 19px;
	border-top: none;
}
.table thead th:last-child {
	padding-right: 0;
	width: 20px;
}

.tbody-w {
	font-size: 14px;
 	font-weight: normal;
 	line-height: 1.64;
 	letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

.thead-w th:first-child {
  width: 36%;
}

tbody.tbody-w:last-child {
	border-bottom: solid 1px #dcdee1;
}

.img-rounded {
	width: 76px;
	height: 76px;
	margin-right: 25px;
}

.e-section select{
  margin-top: 11px;
}

.e-section {
  margin: 40px 0;
  height: 50px;
  display: flex;
}

.form-control {
  width: 284px;
  height: 36px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

button.form-control {
  width: 100%;
  max-width: 148px;
}

.status {
	width: 180px;
	padding-right: 45px;
}

.pointer.status {
	padding-left: 50px;
	padding-right: 15px;
}

.text_form {
	width: 55.5px;
  	height: 18.5px;
  	font-size: 10px;
  	border-radius: 4px;
  	letter-spacing: 0.7px;
  	display: inline-block;
  	text-align: center;
}
.text_form:hover {
	cursor: default;
}
.text_form.inv {
	color: #ff6969;
	border: solid 1px #ff6969;
}
.text_form.linked {
	float: right;
	padding-top: 1px;
  	border: solid 1px #63d2e6;
  	color: #63d2e6;
}

.linked-box {
	display: flex;
	justify-content: flex-end;
	padding-right: 55px;
}

.invited-box {
	display: flex;
	justify-content: flex-end;
	padding-right: 55px;
}
.invited-box span {
	margin-top: 3px;
	padding-top: 1.4px;
}

.invited {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	border: none;
  	background-image: url('../../../assets/img/inv_img.png');
  	background-color: unset;
  	background-repeat: no-repeat;
  	vertical-align: bottom;
  	outline: none;
}
.invited:hover {
	cursor: pointer;
}

.arrow-right-link.disabled {
  opacity: 0.2;
}

.arrow-right-link.disabled:hover{
	cursor: default;
}

@media only screen and (max-width: 985px) {

	.all-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.box {
		width: 100%;
		max-width: 365px;
  		height: auto;
  		margin-top: 20px;
		padding: 2em;
	 	border-radius: 8px;
  		background-color: #ffffff;
  		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
	}

}

.employee_role{
	text-transform: capitalize;
}
