@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body,html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
}

.main-container{
	position: relative;
}

.clear {
    clear: both;
}
.wrap {
	min-height: -webkit-fill-available;
	padding-top: 64px;
}

.wrap-login {
	display: flex;
    justify-content: center;
    flex-direction: column;
	padding-top: 0;
}

.top-bar {
	width: 100%;
	height: 64px;
	background: linear-gradient(122deg, #63d2e6, #06fccd);
}

.log-reg {
	padding-top: 11px;
 	float: right;
 }
.log-reg p {
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px;
	display: inline-block;
}
.log-reg a:hover {
	text-decoration: none !important;
}

.myo-logo{
	  margin: -50px auto 30px;
    width: 189px;
    height: 108px;
    background-image: url(assets/img/Myo-logo-01.svg);
}

.box-container {
	padding-bottom: 35px;
}
.box {
	width: 450px;
  	height: auto;
  	margin: 25px auto 0;
	padding: 2em;
 	border-radius: 8px;
  	background-color: #ffffff;
  	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

input[type="submit"]:hover {
	cursor: pointer;
}
button.form-control {
	background: linear-gradient(122deg, #63d2e6, #06fccd);
   	width: 154.9px;
	height: 36px;
	margin: 48px auto 20px;
	text-transform: uppercase;
	border: none;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	letter-spacing: 1px;
}
button.form-control:hover {
	cursor: pointer;
}

.table tbody td {
	vertical-align: middle !important;
}

td.arrow-right-link {
	margin: 10px 0;
	width: 14.3px;
  	height: 13.5px;
	background: url(assets/img/panel-icon/icon-next.png) center;
	background-repeat: no-repeat;
}

.myo-btn{
	min-width: 110px;
    height: 36px;
    border: none;
	border-radius: 8px;
	font-weight: bold;
    color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.myo-btn.btn-danger{
	background-image: linear-gradient(299deg, #ff6ca4, #ff6969);
}
.myo-btn.btn-primary{
	background: linear-gradient(122deg, #63d2e6, #06fccd);
}
.myo-btn[disabled] {
  background: lightgrey;
  cursor: not-allowed !important;
}

.myo-btn[disabled]:hover {
  background: grey;
  cursor: not-allowed !important;
}

.img-rounded{
	border-radius: 50%;
}
.container-section {
	margin: 50px auto;
	width: 80%;
}
.arrow-right-link{
	white-space: nowrap;
	cursor: pointer;
}

.cdk-overlay-pane {
	width: 480px !important;
}

.mat-dialog-container{
	border-radius: 8px !important;
	max-width: 480px;
}

.dialog-success .mat-dialog-container{
	background-image: linear-gradient(112deg, #63d2e6, #06fccd);
}

.dialog-error .mat-dialog-container {
	background-image: linear-gradient(112deg, #ff6ca4, #ff6969) !important;
}

.mat-horizontal-stepper-header-container {
	display: none !important;
}

.clickable{
	cursor: pointer;
}
.grid-row{
	display: flex;
	flex-wrap: wrap;
	padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
.grid-row .grid-col-4{
	width: 25%;
}
.grid-row .grid-col-2{
	width: 50%;
}
.myo-link{
	font-size: 12px;
	color: #000;
	text-decoration: underline;
}

.box-title {
  	font-size: 20px;
  	font-weight: 600;
  	line-height: 1.35;
  	letter-spacing: 1.4px;
  	text-align: left;
  	color: #000000;
  	margin-bottom: 20px;
}

.pointer {
  cursor: pointer
}
.sorted-col{
	color: #000
}

.mat-datepicker-content .mat-calendar {
    width: 196px !important;
    height: 254px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important; 
}

.mat-datepicker-toggle-default-icon.ng-star-inserted {
	margin-bottom: 15px;
	width: 1.4em;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
	height: 35px;
}

input.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored {
	margin-top: -12px;
	height: 27.5px;
}

