.choose-section {
	padding-top: 25px;
	font-size: 14px;
	line-height: 1.36;
	text-align: left;
	color: #000;
}

.relatives-boxes {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px #707070;
}


.delete-relative {
	width: 24px;
	height: 24px;
	margin-left: -42px;
	border-radius: 50%;
	background-image: linear-gradient(118deg, #63d2e6, #06fccd);
	text-align: center;
	color: #fff;
}
.delete-relative:hover {
	cursor: pointer;
}

.relative-user {
	width: 436px;
	height: 96px;
	margin: 15px 25px 0 0;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #dcdee1;
}
.relative-user:nth-child(3),
.relative-user:nth-child(4) {
	border-bottom: none;
}

.relative-text {
	width: 100%;
  	max-width: 155px;
	margin-right: 4em;
}
.relative-text p:first-child{
	font-weight: bold;
}
.relative-text p {
	color: #000;
	margin: 0;
	font-size: 12px;
 	font-weight: 300;
	line-height: 1.58;
  	text-align: left;
}
.relative-text p:first-child{
	font-weight: bold;
}

.text_form {
	width: 55.5px;
  	height: 18.5px;
  	font-size: 10px;
  	border-radius: 4px;
  	letter-spacing: 0.7px;
  	display: inline-block;
  	text-align: center;
}
.text_form:hover {
	cursor: default;
}

.text_form.link {
	width: 70px;
    float: right;
    color: #63d2e6;
	margin-top: 2px;
    border: solid 1px #63d2e6;
    background-image: none;
}
.text_form.inv {
	width: 70px;
    float: right;
    color: #ff6969;
	margin-top: 2px;
    border: solid 1px #ff6969;
    background-image: none;
}

.invited {
	width: 100px;
	height: 24px;
  	background-image: url('../../../../assets/img/inv_img.png');
  	background-repeat: no-repeat;
}

.linked {
	width: 102px;
	height: 24px;
	background-image: url('../../../../assets/img/link_img.png');
	background-repeat: no-repeat;
}

.linked:hover,
.invited:hover {
	cursor: pointer;
}

.img-rounded {
	width: 76px;
	height: 76px;
	object-fit: contain;
	border-radius: 50%;
}