<h3 class="choose-section">
	<strong i18n> Relatives </strong>
</h3>
<div class="relatives-boxes">
	<div class="relative-user" *ngFor="let relative of relatives; let i = index">
		<img class="img-rounded" src="{{relative.image ? relative.image.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
		<span class="delete-relative" role="button" (click)="deleteRelative(relative.id)"> — </span>
		<div class="relative-text">
			<p>
				<strong i18n>{{relative.first_name + ' ' + relative.last_name}}</strong>
			</p>
			<p i18n>{{relative.relation_type_id}}</p>
			<p i18n>{{relative.email}}</p>
			<p i18n>{{relative.phone_number}}</p>
		</div>
		<div></div>
		<div *ngIf="relative.invite_pending" (click)="reinviteRelative(relative.email)" class="invited">
			<span class="text_form inv" i18n>Invited</span>
		</div>
		<div *ngIf="!relative.invite_pending" class="linked">
			<span class="text_form link" i18n>Linked</span>
		</div>
	</div>
</div>
