.forgot-text {
  	font-size: 12px;
  	font-weight: 300;
  	line-height: 1.92;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #000000;
  	margin-bottom: 38px;
}

input[type="text"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 10px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}