<div class="box-container">
    <div class="box">
        <div id="login" class="log-in">
          <p class="forgot-text" i18n>Please enter your e-mail address below. <br>
              An email with a password reset will be sent to your email shortly.</p>
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="form-group" [ngClass]="{'has-error': resetForm.controls.email.touched && resetForm.controls.email.invalid}">
                    <input class="form-control" type="text" formControlName="email" placeholder="Email" i18n-placeholder>
                </div>
                <div class="form-group">
                    <button class="form-control" type="submit" i18n>Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>