app-side-bar{
	position: fixed;
	width: 360px;
	min-height: 100vh;
}

.clear {
    clear: both;
}

.wrap {
	display: flex;
	flex-direction: row;
	min-height: -webkit-fill-available;
	margin-left: 360px;
}

.right-box {
	width: 100%;
	height: auto;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
