<h2 mat-dialog-title><strong i18n> Add new senior </strong></h2>
<div mat-dialog-content i18n>Please add a senior or seniors who are associated with this story.</div>

<div class="recipientsList-box">
    <div *ngFor="let recipient of recipientsList; let i = index" (click)="toggleRecipient(recipient)">
    	<div class="recipient-boxes">
	        	<span class="rec-span" *ngIf="!isRecipientSelected(recipient)"><p class="icon-p"></p></span>
	        	<span class="rec-span disable" *ngIf="isRecipientSelected(recipient)"><p class="icon-m"></p></span>
	        <img class="img-rounded" src="{{recipient.image ? recipient.image.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
	        <div class="rec-name" i18n> {{recipient.first_name}} {{recipient.last_name}} </div>
        </div>
    </div>
</div>

<div class="form-group">
    <button class="form-control" [mat-dialog-close]="selectedRecipients" i18n>Confirm</button>
</div>
