.recipientsList-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.recipient-boxes {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  margin-top: 30px;
}
.recipient-boxes:first-child {
	margin-left: 0;
}

.rec-span {
  width: 24px;
  height: 24px;
  margin-bottom: -20px;
  margin-left: 40px;
  border-radius: 50%;
  z-index: 20;
}

.img-rounded {
 	width: 50px;
  height: 50px;
  object-fit: contain;
	border-radius: 50%;
  margin-bottom: 7px;
}

.rec-name {
	max-width: 55px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.3px;
  text-align: center;
  color: #000000;
}

.icon-m {
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/img/minus-icon.svg');
  background-repeat: no-repeat;
}

.icon-p {
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/img/plus-icon.svg');
  background-repeat: no-repeat;
}

.md-dialog-container {
	border-radius: 8px;
}
