h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 1.4px;
  text-align: left;
}

.mat-dialog-content {
	margin-bottom: 25px;
}

.details-text {
	font-size: 14px;
	font-weight: 600;
  	line-height: 1.64;
  	letter-spacing: 0.4px;
  	margin: 2px 0;
  	text-align: left;
}

.button-box {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;
}


input[type=checkbox], input[type=radio] {
    display: none;
}

.form-group input.form-control {
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 5px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

.form-control {
	border-radius: 8px;
}

.form-control.form-border {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

.authority_value_radio {
	text-transform: uppercase;
	display: inline-block;
  	width: 160px;
  	height: 36px; 
  	margin: 5px 10px;
  	font-weight: bold;
	line-height: 35px;
	text-align: center;
  	color: #ffffff;
	border: none;
	background-color: #ddd;
	border-radius: 5px;
}
.authority_value_radio.active{
	background-image: linear-gradient(113deg, #63d2e6, #06fccd);
}

.authority_value_radio:hover {
	cursor: pointer;
	color: #000;
	background-image: linear-gradient(113deg, #63d2e6, #06fccd);
	opacity: 0.4;
	transform-style: 2s;
}

ul.nav_section {
	margin-top: 50px;
	height: 40px;
	padding: 0;
}
.nav_section {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_section li {
	padding: 0 6px;
}
.nav_section li:first-child, .nav_section li:last-child {
	padding-left: 25px;
	padding-right: 25px;
}
.nav_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button.rectangle {
	width: 36px;
  	height: 36px;
  	border-radius: 8px;
  	background-color: #f7f7f7;
  	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  	text-align: center;
  	font-size: 20px;
  	font-weight: bold;
  	border: none;
}
button.rectangle.btn_disable  {
	color: #707070;
	opacity: 0.6;	
}
button.rectangle:hover {
	cursor: pointer;
}

button.form-control {
	margin: 0 auto;
}

.form-control.button-margin {
	margin-top: 40px;
}

.input-group {
	display: flex;
}
.span_ok {
	font-size: 22px;
    margin: 4px 0 0 10px;
}

tag-input {
  border: 1px solid #ddd ;
  border-radius: 8px;
  padding: 0 10px;
}