<form [formGroup]="newEmployee">
    <mat-horizontal-stepper linear="true" #stepper>
        <mat-step [completed]="false" [stepControl]="newEmployee.controls.type">
            <ng-template matStepLabel i18n>Authority</ng-template>
            <h2 mat-dialog-title i18n> Add new employee: Authority </h2>
            <div mat-dialog-content i18n>What authority does the new user have? Please select one of the given options below. </div>
            <div class="button-box" [ngClass]="{'has-error': newEmployee.controls.type.touched && newEmployee.controls.type.invalid}">
                <div *ngFor="let role of employeeRoles">
                    <label>
                        <input type="radio" formControlName="type" value="{{role.key}}">
                        <span [ngClass]="{'active': newEmployee.controls.type.value === role.key}" class="authority_value_radio" i18n>{{role.value}}</span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button class="form-control" type="button" matStepperNext (click)="checkFirstStep(stepper)" i18n>Continue</button>
            </div>
            <!-- <ul class="nav_section">
                <li><button class="rectangle" data-dismiss="modal"> &lt; </button></li>
                <li class="nav_text">Back</li>
                <li>&#47;</li>
                <li class="nav_text text_disable">Next</li>
                <li><button class="rectangle btn_disable" type="button" matStepperNext (click)="checkStep(['authority'])">&gt;</button></li>
            </ul> -->
        </mat-step>
        <mat-step>
            <ng-template matStepLabel i18n>Location</ng-template>
            <h2 mat-dialog-title i18n> Add new employee: Location </h2>
            <div mat-dialog-content i18n> Where does this employee work? </div>
            <div class="form-group">
                <label>Facility</label>
                <select class="form-control form-border" [disabled]="facilitySelectDisabled" [(ngModel)]="selectedFacilityId" (ngModelChange)="facilityChanged($event)"
                    [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let facility of facilityList" value="{{facility.id}}" i18n>{{facility.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="sectionHidden == false">
                <label>Section</label>
                <select class="form-control" [(ngModel)]="selectedSectionId" [ngModelOptions]="{standalone: true}" [disabled]="sectionSelectDisabled">
                    <option *ngFor="let section of sectionList" value="{{section.id}}" i18n>{{section.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="form-control" (click)="checkSecondStep()" i18n>Continue</button>
            </div>
        </mat-step>

        <!-- <mat-step [completed]="false" [stepControl]="newEmployee.controls.dateOfBirth && newEmployee.controls.placeOfBirth.controls.city &&
                 newEmployee.controls.placeOfBirth.controls.country && newEmployee.controls.startYear">
            <ng-template matStepLabel>Details</ng-template>
            <h2 mat-dialog-title>Add new employee: Location details</h2>
            <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.dateOfBirth.touched && newEmployee.controls.dateOfBirth.invalid}">
                <label class="details-text">Date of Birth</label>
                <div class="input-group">
                    <input class="form-control" type="date" formControlName="dateOfBirth" placeholder="Type date of birth here">
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div formGroupName="placeOfBirth">
                <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.placeOfBirth.controls.city.touched && newEmployee.controls.placeOfBirth.controls.city.invalid}">
                    <label class="details-text">City</label>
                    <div class="input-group">
                        <input class="form-control" type="text" formControlName="city" placeholder="Type city here">
                        <span class="span_ok">✓</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':  newEmployee.controls.placeOfBirth.controls.country.touched && newEmployee.controls.placeOfBirth.controls.country.invalid}">
                    <label class="details-text">Country</label>
                    <div class="input-group">
                        <input class="form-control" type="text" formControlName="country" placeholder="Type country here">
                        <span class="span_ok">✓</span>
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.startYear.touched && newEmployee.controls.startYear.invalid}">
                <label class="details-text">Start Year</label>
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="startYear" placeholder="Type start year here">
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group">
                <button class="form-control" type="button" matStepperNext (click)="checkStep(['dateOfBirth', 'startYear', 'placeOfBirth'])">Continue</button>
            </div>
        </mat-step> -->

        <mat-step [completed]="false">
            <ng-template matStepLabel i18n>Details</ng-template>
            <h2 mat-dialog-title i18n>Add new employee: Personal details</h2>
            <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.firstName.touched && newEmployee.controls.firstName.invalid}">
                <label class="details-text" i18n>First name</label>
                <div class="input-group">
                    <input class="form-control" type="text" formControlName="firstName" placeholder="Type name here" i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.lastName.touched && newEmployee.controls.lastName.invalid}">
                <label class="details-text" i18n>Last Name</label>
                <div class="input-group">
                    <input class="form-control" type="text" formControlName="lastName" placeholder="Type last name here" i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group " [ngClass]="{'has-error': newEmployee.controls.email.touched && newEmployee.controls.email.invalid}">
                <label class="details-text" i18n>Email</label>
                <div class="input-group">
                    <input class="form-control" type="email" formControlName="email" placeholder="Type e-mail here" i18n-placeholder>
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <!-- <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.phoneNumber.touched && newEmployee.controls.phoneNumber.invalid}">
                <label class="details-text">Phone Number</label>
                <div class="input-group">
                    <input class="form-control" type="text" formControlName="phoneNumber" placeholder="Type phone number here">
                    <span class="span_ok">✓</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': newEmployee.controls.password.touched && newEmployee.controls.password.invalid}">
                <label class="details-text">Password</label>
                <div class="input-group">
                    <input class="form-control" type="password" formControlName="password" placeholder="Type password here">
                    <span class="span_ok">✓</span>
                </div>
            </div> -->
            <div class="form-group">
                <button class="form-control button-margin" (click)="finishStep(['firstName', 'lastName', 'email', 'password', 'phoneNumber'])" i18n>Continue</button>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</form>
