.post-recepient{
	font-size: 12px;
	border-radius: 3px;
	background-color: #f7f7f7;
	padding:  2px 4px;
	display: inline-block;
	margin: 0 8px 2px 0;
}

.choose-section {
   font-size: 20px;
   font-weight: 600;
   line-height: 1.35;
   letter-spacing: 1.4px;
   text-align: left;
   color: #000000;
   margin: 0;
}

.e-section {
   height: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 40px;
}

.form-control {
   width: 284px;
   height: 36px;
   border-radius: 8px;
   background-color: #ffffff;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
	 margin-right: 25px;
}

.nav_section {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
ul.nav_section {
   margin-top: 50px;
   height: 40px;
   padding: 0;
}
.nav_section li {
   padding: 0 3px;
}
.nav_section li:first-child, .nav_section li:last-child {
   padding-left: 25px;
   padding-right: 25px;
}

button.rectangle {
   width: 36px;
   height: 36px;
   border-radius: 8px;
   background-color: #f7f7f7;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   border: none;
}
button.rectangle:hover {
   cursor: pointer;
}

button.rectangle.btn_disable  {
   color: #707070;
   opacity: 0.6;
}
button.rectangle.btn_disable:hover {
   cursor: unset;
}
.header span{
	font-size: 12px;
	font-weight: lighter;
}
.approved {
  color: #06FCCD;
}

.declined {
  color: #FF6969;
}

.pending {
  color: #ffe869;
}

.sorted-col {
    color: #000 !important;
}
.recipients-total-count{
  width: 22px;
  height: 22px;
  background-color: #d5d7db;
  display: inline-block;
  font-size: 8px;
  text-align: center;
  color: #000000;
  vertical-align: text-top;
  border-radius: 50%;
  padding: 5px;
}
