<div class="container-section">
	<div class="e-section">
	    <select class="form-control" [(ngModel)]="selectedFacilityId" (ngModelChange)="facilityChanged($event)">
	      <option *ngFor="let facility of facilities" value="{{facility.id}}" i18n> {{facility.name}} </option>
	    </select>
	    <select *ngIf="selectedFacilityId" class="form-control" [(ngModel)]="selectedSectionId" (ngModelChange)="sectionChanged($event)">
	      <option *ngFor="let section of sections" value="{{section.id}}" i18n> {{section.name}} </option>
	    </select>
 	</div>
	<div class="posts-table">
		<div class="grid-row">
      <div class="header grid-col-4 text-muted pointer" (click)="sortBy('category')" [ngClass]="{'sorted-col': sortKey === 'category' || sortKey === 'category-'}" i18n>Category</div>
			<div class="header grid-col-4 text-muted pointer" (click)="sortBy('posted_on')" [ngClass]="{'sorted-col': sortKey === 'posted_on' || sortKey === 'posted_on-'}" i18n>Date & Time</div>
			<div class="header grid-col-4 text-muted pointer" (click)="sortBy('first_name,last_name')" [ngClass]="{'sorted-col': sortKey === 'first_name,last_name' || sortKey === 'first_name,last_name-'}" i18n>Author</div>
			<div class="header grid-col-4 text-muted" i18n>Recipients</div>
		</div>
		<div *ngFor="let story of stories" (click)="editSory(story)">
			<div class="grid-row" *ngIf="editedStory?.id !== story.id">
				<div class="grid-col-4 clickable">
          <span [ngClass]="{'approved': story.status == 'ACCEPTED', 'declined': story.status == 'DECLINED', 'pending': story.status == 'PENDING'}">&#x25CF; </span>
					<strong i18n>{{categoriesById[story.category].name}}</strong>
				</div>
				<div class="grid-col-4 clickable">{{story.posted_on * 1000 | date: 'dd.MM.yyyy | HH:mm'}}</div>
        <div class="grid-col-4 clickable" i18n>{{story.posted_by.first_name + ' ' + story.posted_by.last_name}}</div>
				<div class="grid-col-4 clickable">
					<span *ngFor="let recipient of story.recipients; let i = index">
						<span  class="post-recepient" *ngIf="i < 3" i18n>
								{{recipient.last_name + ' ' + recipient.first_name}}
						</span>
					</span>
					<span class="recipients-total-count" *ngIf="story.recipients?.length > 3">+{{story.recipients?.length - 3}}</span>
				</div>
			</div>

			<app-edit-post *ngIf="editedStory?.id === story.id"
                     [sectionSeniors]="sectionSeniors"
                     [post]="story"
                     (onChangePost)="changePost($event)">
      		</app-edit-post>

		</div>
	</div>
</div>
