<div class="box-container">
    <div class="box">
        <div id="login" class="log-in">
          <p class="forgot-text" i18n>Please enter and confirm your new password.</p>
            <form  [formGroup]="restoreForm" (ngSubmit)="restorePassword()">
                <div class="form-group" [ngClass]="{'has-error': restoreForm.controls.password.touched && restoreForm.controls.password.invalid}">
                    <input class="form-control" type="password" formControlName="password" placeholder="Type password" i18n-placeholder>
                    <img src="/assets/img/icon_show_black.png" class="icon">
                </div>
                <div class="form-group" [ngClass]="{'has-error': restoreForm.controls.confirmPassword.touched && restoreForm.controls.confirmPassword.invalid}">
                    <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm password" i18n-placeholder>
                    <img src="/assets/img/icon_hide_black.png" class="icon">
                </div>
                <div class="form-group">
                    <button class="form-control" type="submit" i18n>Save & Login</button>
                </div>
            </form>
        </div>
    </div>
</div>