.form-group {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	margin: 0;
}

.forgot-text {
	text-align: center;
	margin-bottom: 38px;
}

input[type="password"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 10px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

.icon {
  margin: 0 10px;
  width: 24px;
  height: auto;
}
.icon:hover {
  cursor: pointer;
}
