<div class="container-section">
	<div class="e-section">
		<h3 class="choose-section">Administrators</h3>
	</div>
	<table class="table">
		<thead class="thead-w">
			<tr>
				<th scope="col" (click)="sortBy('first_name,last_name')" [ngClass]="{'sorted-col': sortKey === 'first_name,last_name' || sortKey === 'first_name,last_name-'}" class="pointer">Name of admin</th>
				<th scope="col" (click)="sortBy('email')" [ngClass]="{'sorted-col': sortKey === 'email' || sortKey === 'email-'}"  class="pointer">E-Mail address</th>
				<th></th>
				<th scope="col" (click)="sortBy('user_role')" [ngClass]="{'sorted-col': sortKey === 'user_role' || sortKey === 'user_role-'}"  class="pointer">Authority</th>
				<th scope="col" (click)="sortBy('facility_name')" [ngClass]="{'sorted-col': sortKey === 'facility_name' || sortKey === 'facility_name-'}"  class="pointer">Facility</th>
				<th scope="col" (click)="sortBy('section_name')" [ngClass]="{'sorted-col': sortKey === 'section_name' || sortKey === 'section_name-'}"  class="pointer">Section</th>
			</tr>
		</thead>
		<tbody class="tbody-w" *ngFor="let admin of admins">
			<tr>
				<td>
					<strong>{{admin.first_name}} {{admin.last_name}}</strong>
				</td>
				<td> {{admin.email}} </td>
				<td class="status">
					<div class="invited-box" *ngIf="admin.invite_status === 'NA' || admin.invite_status === 'INVITED'" >
						<button (click)="reinviteAdmin(admin.email)" class="invited"> </button>
						<span class="text_form inv"> {{admin.invite_status}} </span>
					</div>
          			<span *ngIf="admin.invite_status === 'LINKED'" class="text_form linked"> Linked </span>
				</td>
				<td> {{userService.normalizeRole(admin.user_role)}} </td>									
				<td> {{admin.facility_name}} </td>
				<td> {{admin.section_name}} </td>
			</tr>
		</tbody>
	</table>

</div>
