
h3.choose-section {
	font-size: 20px;
  	font-weight: 600;
  	line-height: 1.35;
  	letter-spacing: 1.4px;
  	padding-bottom: 20px;
}

.thead-w {
  	font-size: 12px;
  	line-height: 1.92;
  	letter-spacing: 0.4px;
  	text-align: left;
  	color: #707070;
}
.table thead th {
	padding-top: 19px;
	padding-bottom: 19px;
	border-top: none;
	border-bottom: solid 2px #707070;
}
.table thead th:last-child {
	padding-right: 0;
}
.table tbody td {
	padding-top: 18.6px;
	padding-bottom: 16.5px;
}
.table td {
	vertical-align: middle;
}
.table tbody td:last-child {
	padding-right: 0;
	width: 130px;
}
.tbody-w p {
  	font-size: 14px;
 	font-weight: normal;
 	line-height: 1.64;
 	letter-spacing: 0.4px;
  	text-align: left;
  	vertical-align: middle !important;
  	color: #000;
}

tbody.tbody-w:last-child {
	border-bottom: solid 1px #dcdee1;
}

.status {
	width: 160px;
	padding-right: 45px;
}

.text_form {
	width: 55.5px;
  	height: 18.5px;
  	font-size: 10px;
  	border-radius: 4px;
  	letter-spacing: 0.7px;
  	display: inline-block;
  	text-align: center;
}
.text_form:hover {
	cursor: default;
}
.text_form.inv {
	color: #ff6969;
	border: solid 1px #ff6969;
}
.text_form.linked {
	float: right;
	padding-top: 1px;
  	border: solid 1px #63d2e6;
  	color: #63d2e6;
}

.invited-box {
	display: flex;
	justify-content: flex-end;
}
.invited-box span {
	margin-top: 3px;
	padding-top: 1.4px;
}

.invited {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	border: none;
  	background-image: url('../../../assets/img/inv_img.png');
  	background-color: unset;
  	background-repeat: no-repeat;
  	vertical-align: bottom;
  	outline: none;
}
.invited:hover {
	cursor: pointer;
}


