<div class="right-box">
	<div class="container-section">
		<h3 class="choose-section" i18n>Seniors</h3>

		<table class="table">
			<thead class="thead-w">
				<tr>
					<th scope="col" (click)="sortBy('first_name,last_name')" [ngClass]="{'sorted-col': sortKey === 'first_name,last_name' || sortKey === 'first_name,last_name-'}" class="pointer" i18n>Name of senior</th>
					<th scope="col" (click)="sortBy('relatives')" [ngClass]="{'sorted-col': sortKey === 'relatives' || sortKey === 'relatives-'}" class="pointer" i18n>Number of relatives</th>
					<th scope="col" (click)="sortBy('posts')" [ngClass]="{'sorted-col': sortKey === 'posts' || sortKey === 'posts-'}" class="pointer" i18n>Posts this week</th>
					<th class="col"></th>
				</tr>
			</thead>
			<tbody class="tbody-w" *ngIf="seniorList">
				<tr *ngFor="let senior of seniorList; let i = index">
					<td>
						<img class="img-rounded" src="{{senior.image ? senior.image.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
						<strong i18n>{{senior.first_name + ' ' + senior.last_name}}</strong>
					</td>
					<td i18n>{{senior.relatives}} relatives</td>
					<td i18n>{{senior.posts}} posts</td>
					<td routerLink="/facility/{{facilityId}}/section/{{sectionId}}/senior/{{senior.id}}" class="arrow-right-link"></td>
				</tr>
			</tbody>
		</table>

		<div class="all-box">
			<div class="box">
				<h4 class="box-title" i18n>Add new senior</h4>
				<p i18n>No matter the authority, facility or section - you cen add anyone working in your organization with just a few clicks</p>
				<button class="form-control" (click)="addNewSenior()" i18n>add</button>
			</div>
		</div>
	</div>
</div>
