.top-bar {
	width: 100%;
	height: 64px;
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(122deg, #63d2e6, #06fccd);
}
.top-bar.logged-in{
	width: calc(100% - 360px);
}
.marker {
	display: flex;
	align-items: center;
}

.marker {
  	font-size: 14px;
  	line-height: 1.64;
  	letter-spacing: 0.4px;
  	text-align: left;
  	color: #fff;
}
.marker p {
	padding: 20px 0 0 35px;
}
.marker p:hover {
	cursor: pointer;
}

.myo-breadcrumbs{
	display: flex;
	align-items: center;
	padding-left: 25px;
	height: 64px;
}
.myo-breadcrumbs .breadcrumb-item{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.myo-breadcrumbs .breadcrumb-item.active{
	font-weight: 600;
}
.myo-breadcrumbs .breadcrumb-item .devider{
	padding: 0 5px;
}