<div class="top-bar" [ngClass]="{'logged-in': isLoggedIn}">
	<div class="myo-breadcrumbs">
		<div *ngFor="let breadcrumb of breadcrumbs">
			<a *ngIf="breadcrumb.active" class="breadcrumb-item" routerLink="{{breadcrumb.link}}" i18n>
				{{breadcrumb.name}} <span class="devider">></span>
			</a>
			<div *ngIf="!breadcrumb.active" class="breadcrumb-item active" i18n>
				{{breadcrumb.name}}
			</div>
		</div>
	</div>

</div>