<div class="wrap">

  <!--<div class="myo-logo">
  </div>-->

  <div class="box-container">

    <div class="box">
      <div class="createcompany">
        <div class="create-text text-center" i18n>
          Create company & company head <br/>
          Invite will be sent to this user to allow user set password
        </div>
        <form [formGroup]="companyCreateForm" (ngSubmit)="submitForm()">
          <div class="form-group" [ngClass]="{'has-error': companyCreateForm.controls.name.touched && companyCreateForm.controls.name.invalid}">
            <input class="form-control" type="text" formControlName="name" placeholder="Company name" i18n-placeholder>
          </div>
          <div class="form-group" [ngClass]="{'has-error': companyCreateForm.controls.file.touched && companyCreateForm.controls.file.invalid}">
            <input class="form-control" type="file" (change)="onFileChange($event)">
          </div>
          <div class="form-group" [ngClass]="{'has-error': companyCreateForm.controls.firstName.touched && companyCreateForm.controls.firstName.invalid}">
            <input class="form-control" type="text" formControlName="firstName" placeholder="Company head first name" i18n-placeholder>
          </div>
          <div class="form-group" [ngClass]="{'has-error': companyCreateForm.controls.lastName.touched && companyCreateForm.controls.lastName.invalid}">
            <input class="form-control" type="text" formControlName="lastName" placeholder="Company head last name" i18n-placeholder>
          </div>
          <div class="form-group" [ngClass]="{'has-error': companyCreateForm.controls.email.touched && companyCreateForm.controls.email.invalid}">
            <input class="form-control" type="text" formControlName="email" placeholder="Company head email" i18n-placeholder>
          </div>
          <!--<div class="form-group" [ngClass]="{'has-error': companyCreateForm.controls.password.touched && companyCreateForm.controls.password.invalid}">
            <input class="form-control" type="password" formControlName="password" placeholder="Company head password">
          </div>-->
          <div class="form-group">
            <button class="form-control btn-primary myo-btn"
                    type="button"
                    [disabled]="companyCreateForm.invalid"
                    (click)="createAndUpload()"
                    i18n>
                    Create
            </button>
            <button class="form-control myo-btn btn-danger" type="button" (click)="logout();" i18n>Logout</button>
          </div>

          <div class="create-text text-center">
            <div *ngIf="resultMessage" class="text-center" i18n>{{resultMessage}}</div>
          </div>

        </form>

      </div>
    </div>

  </div>



</div>
