.user-post {
	margin-top: -15px;
	padding-bottom: 20px;
  	font-size: 12px;
  	line-height: 1.67;
  	letter-spacing: 0.4px;
}
.e-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 35px;
}
.choose-section {
  	font-size: 20px;
  	font-weight: 600;
  	line-height: 1.35;
  	letter-spacing: 1.4px;
}

.img_wh {
	width: 125px;
}
.img-rounded {
 	width: 76px;
 	height: 76px;
}

.table thead th {
	padding-top: 19px;
	padding-bottom: 19px;
	border-top: none;
}
.thead-w {
	padding-top: 30px;
  	font-size: 12px;
  	font-weight: 300;
  	line-height: 1.92;
  	letter-spacing: 0.4px;
  	text-align: left;
  	color: #707070;
}
.tbody-w {
  	font-size: 14px;
 	line-height: 1.64;
 	letter-spacing: 0.4px;
  	text-align: left;
  	color: #000000;
}

.td-box {
	width: 140px;
}

.table td {
	vertical-align: middle !important;
}

tbody.tbody-w:last-child {
	border-bottom: solid 1px #dcdee1;
}

.all-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.box {
	width: 100%;
	max-width: 445px;
  	height: auto;
	padding: 2em;
 	border-radius: 8px;
  	background-color: #ffffff;
  	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

input[type="text"],input[type="password"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 20px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

button.form-control:hover {
	cursor: pointer;
}



