<div class="container-section">
	<div class="e-section">
		<h3 class="choose-section">Please choose the facility</h3>
	</div>
	<table class="table">
		<thead class="thead-w">
			<tr>
				<th class="col" (click)="sortBy('name')" [ngClass]="{'sorted-col': sortKey === 'name' || sortKey === 'name-'}" class="pointer">Name of nursing home</th>
				<th class="col" (click)="sortBy('sectionsNum')" [ngClass]="{'sorted-col': sortKey === 'sectionsNum' || sortKey === 'sectionsNum-'}" class="pointer">Number of floors</th>
				<th class="col" (click)="sortBy('seniorsNum')" [ngClass]="{'sorted-col': sortKey === 'seniorsNum' || sortKey === 'seniorsNum-'}" class="pointer">Number of seniors</th>
				<th class="col" (click)="sortBy('caretakersNum')" [ngClass]="{'sorted-col': sortKey === 'caretakersNum' || sortKey === 'caretakersNum-'}" class="pointer">Number of caregivers</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody class="tbody-w" *ngIf="facilities && facilities.length !== 0">
			<tr *ngFor="let facility of facilities; let i = index" >
				<td>
					<strong>{{facility.name}}</strong>
				</td>
				<td>{{facility.sectionsNum}} floor</td>
				<td>{{facility.seniorsNum}} seniors</td>
				<td>{{facility.caretakersNum}} caregivers</td>
				<td class="img_wh">
					<img class="img-rounded" src="{{facility.image ? facility.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
				</td>
				<td routerLink="/facility/{{facility.id}}" class="arrow-right-link"></td>
			</tr>
		</tbody>
		<tbody class="tbody-w" *ngIf="facilities && facilities.length === 0">
			<tr>
				<td>
					<strong>No facilities added yet.</strong> Add your first <br>
					facility now by using the box below.
				</td>
				<td>0 floor</td>
				<td>0 seniors</td>
				<td>0 caregivers</td>
				<td class="img_wh">
					<img class="img-rounded" src="../../../assets/img/icon-home_null.png">
				</td>
				<td> </td>
			</tr>
		</tbody>
	</table>

	<div class="all-box">
		<div class="box">
			<form class="new-facility" [formGroup]="newFacilityForm" (ngSubmit)="addFacility()">
				<h4 class="box-title">Add new facility</h4>
				<div class="form-group" [ngClass]="{'has-error': newFacilityForm.controls.title.touched && newFacilityForm.controls.title.invalid}">
					<input class="form-control" type="text" formControlName="title" placeholder="Type title here...">
				</div>
				<button class="form-control" type="submit">Create</button>
			</form>
		</div>
	</div>

</div>
