input[type="text"],input[type="password"] {
	width: 100%;
	max-width: 387px;
 	height: 34px;
 	padding: 6px 12px;
 	margin: 20px auto;
 	border-radius: 20px;
 	background-color: #ffffff;
}

button.form-control:hover {
	cursor: pointer;
}


.register p {
	font-size: 12px;
	line-height: 1.92;
  	letter-spacing: 0.4px;
  	text-align: center;
	color: #000;
}

.text-box {
  width: 100%;
  height: 48px;
  display: flex;
}
.icon {
  margin: 14px auto;
  width: 24px;
  height: 14px;
}

.icon:hover {
  cursor: pointer;
}
