<div class="container">
	<div class="text-center" *ngIf="profileSaving" i18n>All changes have been saved successfully.</div>
	<h2>Senior Profile</h2>
	<form [formGroup]="editSeniorForm" (submit)="editSenior()" *ngIf="seniorProfile">
		<div class="senior-basic">
			<img class="img-rounded" src="{{seniorProfile.image ? seniorProfile.image.image : global.imageUrl}}" (error)="$event.target.src = global.imageUrl">
			<div class="display-data" *ngIf="editBlock !== 'name'">
				<div class="value">
					<p class="snr-name" i18n>{{editSeniorForm.value.first_name + ' ' + editSeniorForm.value.last_name}}</p>
					<div class="controlls">
						<button class="btn_img" (click)="editField('name')"> </button>
					</div>
				</div>
			</div>
			<div class="display-data data-wh" *ngIf="editBlock === 'name'">
				<div class="value">
					<input class="form-control wh" type="text" formControlName="first_name" [ngClass]="{'has-error': editSeniorForm.controls.first_name.invalid}">
					<input class="form-control wh" type="text" formControlName="last_name" [ngClass]="{'has-error': editSeniorForm.controls.last_name.invalid}">
				</div>
				<div class="controlls">
					<button class="btn_ok btn-mrn" (click)="confirmEdit()"> ✓ </button>
				</div>
			</div>
		</div>

		<div class="info-boxes">
			<div class="first-box">
				<div class="basic">
					<p i18n>Place and date of birth</p>
					<div class="display-data" *ngIf="editBlock !== 'birth'">
						<div class="value">
							<div class="getI"> {{editSeniorForm.value.country_of_birth + " " + editSeniorForm.value.place_of_birth}}, {{editSeniorForm.value.date_of_birth}}
							</div>
						</div>
						<div class="controlls">
							<button class="btn_img" (click)="editField('birth')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'birth'">
						<div class="value">
							<!--<input type="text" formControlName="country_of_birth">-->
              <select class="form-control" formControlName="country_of_birth">
                <option *ngFor="let country of countries" value="{{country}}" i18n> {{country}} </option>
              </select>
							<input type="text" formControlName="place_of_birth">
							<input type="date" formControlName="date_of_birth" (change)="countSeniorAge(editSeniorForm.value.date_of_birth)">
						</div>
						<div class="controlls">
								<button class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>

				<div class="basic">
					<p>Age</p>
					<span class="getI" i18n> {{seniorAge}} </span>
				</div>

				<div class="basic">
					<p>Previous hobbies</p>
					<div class="display-data" *ngIf="editBlock !== 'hobbies'">
						<div class="value">
							<div class="getI" i18n> {{editSeniorForm.value.hobbies}}
							</div>
						</div>
						<div class="controlls">
							<button  class="btn_img" (click)="editField('hobbies')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'hobbies'">
						<div class="value">
							<input type="text" formControlName="hobbies">
						</div>
						<div class="controlls">
							<button  class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>

				<div class="basic">
					<p>Last job</p>
					<div class="display-data" *ngIf="editBlock !== 'job'">
						<div class="value">
							<div class="getI" i18n> {{editSeniorForm.value.last_job}}
							</div>
						</div>
						<div class="controlls">
							<button  class="btn_img" (click)="editField('job')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'job'">
						<div class="value">
							<input type="text" formControlName="last_job">
						</div>
						<div class="controlls">
							<button  class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>

				<div class="basic">
					<p>Favorite movies</p>
					<div class="display-data" *ngIf="editBlock !== 'movies'">
						<div class="value">
							<div class="getI" i18n> {{editSeniorForm.value.favourite_movies}}
							</div>
						</div>
						<div class="controlls">
							<button  class="btn_img" (click)="editField('movies')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'movies'">
						<div class="value">
							<input type="text" formControlName="favourite_movies">
						</div>
						<div class="controlls">
							<button  class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>

				<div class="basic">
					<p>Favorite music</p>
					<div class="display-data" *ngIf="editBlock !== 'music'">
						<div class="value">
							<div class="getI" i18n> {{editSeniorForm.value.favourite_music}}
							</div>
						</div>
						<div class="controlls">
							<button  class="btn_img" (click)="editField('music')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'music'">
						<div class="value">
							<input type="text" formControlName="favourite_music">
						</div>
						<div class="controlls">
							<button  class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>

				<div class="basic">
					<p>Favorite books</p>
					<div class="display-data" *ngIf="editBlock !== 'books'">
						<div class="value">
							<div class="getI" i18n> {{editSeniorForm.value.favourite_books}}
							</div>
						</div>
						<div class="controlls">
							<button  class="btn_img" (click)="editField('books')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'books'">
						<div class="value">
							<input type="text" formControlName="favourite_books">
						</div>
						<div class="controlls">
							<button  class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>
			</div>

			<div class="second-box">
				<div class="basic">
					<p>Favorite colors</p>
					<div class="display-data" *ngIf="editBlock !== 'colors'">
						<div class="value">
							<div class="getI" i18n> {{editSeniorForm.value.favourite_colors}}
							</div>
						</div>
						<div class="controlls">
							<button  class="btn_img" (click)="editField('colors')"></button>
						</div>
					</div>
					<div class="display-data" *ngIf="editBlock === 'colors'">
						<div class="value">
							<input type="text" formControlName="favourite_colors">
						</div>
						<div class="controlls">
							<button  class="btn_ok" (click)="confirmEdit()">✓</button>
						</div>
					</div>
				</div>

				<div class="basic">
					<p>Legal guardian</p>
					<span class="getI" i18n> {{seniorProfile.legal_guardian.first_name + ' ' + seniorProfile.legal_guardian.last_name}} </span>
				</div>

				<div class="basic">
					<p>Emergency phone number</p>
					<span class="getI" i18n> {{seniorProfile.legal_guardian.phone_number}} </span>
				</div>
				<div class="option-box">
					<h4> Facility </h4>
					<select class="form-control" [(ngModel)]="selectedFacilityId" (ngModelChange)="getSectionList($event, true)" [ngModelOptions]="{standalone: true}" >
					  	<option *ngFor="let facility of facilities" value="{{facility.id}}" i18n> {{facility.name}} </option>
					</select>
				</div>
				<div class="option-box">
					<h4> Section </h4>
					<select class="form-control" formControlName="section_id_to_set" *ngIf="sectionList">
						<option *ngFor="let section of sectionList" value="{{section.id}}" i18n> {{section.name}} </option>
					</select>
				</div>
			</div>
		</div>

		<app-relatives seniorId="{{seniorId}}"></app-relatives>

		<div class="btn-sect">
			<button class="myo-btn btn-danger" (click)="deleteSenior(); false" i18n>delete</button>
			<button class="myo-btn btn-primary" (click)="cancel(); false" i18n>cancel</button>
			<button class="myo-btn btn-primary" type="submit" i18n>save</button>
		</div>
	</form>

	<div class="spinner cdk-overlay-dark-backdrop" *ngIf="profileSaving">
		<mat-spinner></mat-spinner>
	</div>
</div>
