.container {
	width: 100%;
	max-width: 1000px;
	margin-top: 60px;
}

.text-center {
	color: red !important;
}

h2 {
  	font-size: 20px;
  	font-weight: 600;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.35;
  	padding-bottom: 45px;
}


h4 {
	padding-top: 10px;
	font-weight: bold;
  	font-size: 16px;
	line-height: 1.64;
	letter-spacing: 1px;
	text-align: left;
}

.option-box{
	margin: 15px 0;
}

.btn_sect button{
	font-weight: bold;
 	color: #fff;
 	text-transform: uppercase;
}

.display-data.data-wh {
	margin: 15px 0 5px 0;
	width: 380px;
}

.btn_img {
	width: 20px;
	height: 20px;
	background-image: url('../../../assets/img/icon_edit.svg');
	border: none;
	border-radius: 0;
    background-color: unset;
}
.btn_img:hover {
	cursor: pointer;
}

.btn_ok {
	margin: -8px;
    height: 30px;
	font-size: 24px;
	border: none;
    background-color: unset;
}
.btn_ok:hover {
	cursor: pointer;
}
.btn_ok.btn-mrn {
	margin: 0 !important;
}

p.snr-name {
	padding-top: 13px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.88;
	letter-spacing: 0.5px;
	text-align: left;
	color: #000000;
}

.img-rounded {
	width: 76px;
	height: 76px;
	object-fit: contain;
	border-radius: 50%;
}

.info-boxes {
	height: auto;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #707070;
}
.first-box, .second-box {
	width: 440px;
	display: flex;
	flex-direction: column;
}
.first-box .basic, .second-box .basic {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.92;
	letter-spacing: 0.4px;
	border-bottom: solid 1px #e2e4e6;
}
.first-box .basic:last-child {
	border-bottom: none;
}

.basic {
	height: 80px;
	padding: 16px 0 18px 0;
}

.basic p {
	margin: 0;
	font-size: 14px;
  	line-height: 1.64;
}

.getI {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.64;
}

.form-control {
	width: 100%;
	max-width: 387px;
	height: 36px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

.form-control.wh {
	width: 150px;
	box-shadow: 0;
}

.disable {
	background-color: #f7f7f7;
	color: #707070;;
}

.btn_sect {
	padding-top: 35px;
	width: 100%;
	height: 100px;
	border-top: solid 3px #707070;
}

.btn-primary {
  margin: 10px 5px;
}

.myo-btn {
	float: right;
}

.btn-danger {
	margin: 10px 5px;
	float: left;
}

.display-data{
	display: flex;
}
.display-data .value {
	width: calc(100% - 50px);
	display: flex;
	align-items: center;
}
.display-data .value > * {
	min-width: 0;
}

.display-data input {
	border-radius: 20px;
    background-color: #ffffff;
    border: solid 1px #d5d7db;
    padding-left: 8px;
}

input[type="date"] {
	width: 250px;
}

.text-center {
  font-size: 14px;
  line-height: 1.92;
  letter-spacing: 0.4px;
  color: #ff6969 !important;
}

.spinner {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.has-error{
	border: 1px solid red !important;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
    cursor: pointer;
    background-color: transparent;
}